@charset "UTF-8";

/*共通部分*/

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*header*/

header {
  padding: 17px 10px;
  background-color:#FF3300;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
}

.title-block {
  flex: 1 1 auto;
}

.title-block h1 {
  font: 26px;
  text-align: center;
}

.menu {
  display: flex;
  font-size: 15px;
  margin-top: 25px;
  list-style: none;
  text-transform: uppercase;
}




/*home*/

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 20px;
  margin: 10px 0 40px;
}


/*見出し*/

.page-title {
  font-size: 70px;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/*ボタン*/

.button {
  font-size: 18px;
  background: #0bd;
  color: #fff;
  border-radius: 7px;
  padding: 18px 30px;
}

.button:hover {
  background: #0090aa;
}


/*News*/
#news {
  background-image: url(../images/news-bg.jpg);
  height: 250px;
  margin-bottom: 40px;
}

#news .page-title {
  text-align: center;
}

/*news-footer*/
footer {
  background: #432;
  text-align: center;
  padding: 25px 0;
}

footer p {
  color: #fff;
  font-size: 10px;
}

/*チーム部分*/



/*サイドバー*/
aside {
  width: 22%;
  order: 3;
  margin: 50px 90px 0px 0px;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  text-align: center;
}




.sub-title {
  font-size: 13px;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

aside p {
  padding: 12px 10px;
}

.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}

.sub-menu li {
  border-bottom: 1px #ddd solid;
}

.sub-menu a {
  color: #00a0dc;
  padding: 10px;
  display: block;
}

.sub-menu a:hover {
  color: #0bd;
}

 /*サイドバー*/
.submenu h3 {
  margin: 0 0 2px 0;
  font-size: 16px;
  cursor: pointer;
  color: #5e78c1;
}
.submenu h3:hover {
  color: #b04188;
  text-decoration: underline;
}
.submenu ul {
  margin: 0 0 2px 0;
  list-style-type: none;
  font-size: 14px;
}
.hidden {
  display: none;
}



/*モバイル用*/
@media (max-width: 600px) {
  .page-title {
    font-size: 23px;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  /*NEWS*/
  .news-content {
    flex-direction: column;
  }
  article,
  aside {
    width: 100%;
  }

  }
  aside {
    margin-top:60px;
  }


 
  /*head*/
  .main-nav {
    font-size: 10px;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 20px;
  }

/*home*/
  .home-content {
    margin-top: 20px;
  }

/*conference*/
.conference-content {
  margin: 100px;
}
 
  section img {
    max-width: 100%;
  }
  .center {
    margin: 0 auto 0 auto;
    max-width: 90%;
    width: 500px;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    flex: 1 1 auto;
    margin-right: 10px;
  }
  li:last-of-type {
    margin-right: 0;
  }

/*Conference*/

.conference-content {
  max-width: 560px;
  margin-top: 10%;
}

.conference-content h2 {
  font-size: 30px;
  margin: 30px 0px 50px 250px;
}

section img {
  max-width: 100%;
}
.center {
  margin: 0 auto 0 auto;
  max-width: 90%;
  width: 700px;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  flex: 1 1 auto;
  margin-right: 20px;
}
li:last-of-type {
  margin-right: 0;
}

/*contact*/
#contact {
  min-height: 100vh;
}

#contact .page-title {
  color: #ab0f50;
}

/*sns*/
#sns {
  background: #faf7f0;
  padding: 5% 0;
}

#sns .wrapper {
  display: flex;
  justify-content: space-between;
}

#sns .sub-title {
  margin-bottom: 30px;
}

.sns-box {
  width: 30%;
}