@charset "UTF-8";

/*共通部分*/

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*header*/

header {
  padding: 17px 10px;
  background-color:#FF3300;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
}

.title-block {
  flex: 1 1 auto;
}

.title-block h1 {
  font: 26px;
  text-align: center;
}

.menu {
  display: flex;
  font-size: 15px;
  margin-top: 25px;
  list-style: none;
  text-transform: uppercase;
}




/*home*/

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 20px;
  margin: 10px 0 40px;
}


/*見出し*/

.page-title {
  font-size: 70px;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/*ボタン*/

.button {
  font-size: 18px;
  background: #0bd;
  color: #fff;
  border-radius: 7px;
  padding: 18px 30px;
}

.button:hover {
  background: #0090aa;
}


/*News*/
#news {
  background-image: url(../images/news-bg.jpg);
  height: 250px;
  margin-bottom: 40px;
}

#news .page-title {
  text-align: center;
}

/*news-footer*/
footer {
  background: #432;
  text-align: center;
  padding: 25px 0;
}

footer p {
  color: #fff;
  font-size: 10px;
}

/*記事部分*/
article {
  width: 60%;
  order: 2;
}

/*サイドバー*/
aside {
  width: 22%;
  order: 3;
}

.ad {
  order: 1;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}

.post-date span {
  font-size: 20px;
  border-top: 1px rgba(255,255,255,.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 20px;
  font-weight: normal;
}

.post-title,
.post-cat {
  margin-left: 120px;
}

article img {
  margin-bottom: 20px;
}

article p {
  margin-bottom: 10px;
}

.sub-title {
  font-size: 13px;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

aside p {
  padding: 12px 10px;
}

.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}

.sub-menu li {
  border-bottom: 1px #ddd solid;
}

.sub-menu a {
  color: #00a0dc;
  padding: 10px;
  display: block;
}

.sub-menu a:hover {
  color: #0bd;
}

 /*サイドバー*/
.submenu h3 {
  margin: 0 0 2px 0;
  font-size: 16px;
  cursor: pointer;
  color: #5e78c1;
}
.submenu h3:hover {
  color: #b04188;
  text-decoration: underline;
}
.submenu ul {
  margin: 0 0 2px 0;
  list-style-type: none;
  font-size: 14px;
}
.hidden {
  display: none;
}



/*モバイル用*/
@media (max-width: 600px) {
  .page-title {
    font-size: 23px;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  /*NEWS*/
  .news-content {
    flex-direction: column;
  }
  article,
  aside {
    width: 100%;
  }
  
  #news .page-title {
    margin-top: 30px;
  }
  aside {
    margin-top:60px;
  }
  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 10px;
  }
  .post-date span {
    font-size: 8px;
    padding-top: 3px;
  }
  .post-title {
    font-size: 13px;
  }
  .post-cat {
    font-size: 8px;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }

 
  /*head*/
  .main-nav {
    font-size: 10px;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 20px;
  }

/*home*/
  .home-content {
    margin-top: 20px;
  }

/*conference*/
 .conference-content {
   margin-top: 20%;
 }
 
  section img {
    max-width: 100%;
  }
  .center {
    margin: 0 auto 0 auto;
    max-width: 90%;
    width: 500px;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    flex: 1 1 auto;
    margin-right: 10px;
  }
  li:last-of-type {
    margin-right: 0;
  }
}

/*Conference*/

#conference {
  background-image: url(../images/background.jpg);
  min-height: 90vh;
}

.conference-content {
  max-width: 560px;
  margin-top: 10%;
}

.conference-content .page-title {
  text-align: center;
}

.conference-content p {
  font-size: 15px;
  margin: 10px 0 0;
}

section img {
  max-width: 100%;
}
.center {
  margin: 0 auto 0 auto;
  max-width: 90%;
  width: 700px;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  flex: 1 1 auto;
  margin-right: 20px;
}
li:last-of-type {
  margin-right: 0;
}

/*contact*/
#contact {
  background-image: url(../images/contact.jpg);
  min-height: 100vh;
}

#contact .page-title {
  color: #ab0f50;
}

/*sns*/
#sns {
  background: #faf7f0;
  padding: 5% 0;
}

#sns .wrapper {
  display: flex;
  justify-content: space-between;
}

#sns .sub-title {
  margin-bottom: 30px;
}

.sns-box {
  width: 30%;
}